.banner {
    padding: 0;
    background: linear-gradient(to top, #baf5f1, white 70%);
    .all {
        position: absolute;
        inset: 0;
        @media screen and (max-width:766px) {
            inset: initial;
            bottom: 7%;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
        .monas {
            position: absolute;
            right: 14%;
            z-index: 2;
            bottom: 26%;
            width: fit-content;
            height: 220px;
            filter: drop-shadow(2px 6px 5px #ccc);
            @media screen and (max-width:766px) {
                position: absolute;
                right: 4%;
                z-index: 2;
                bottom: 12%;
                width: fit-content;
                height: 170px;
                filter: drop-shadow(2px 6px 5px #ccc);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .hp {
            position: absolute;
            right: 15%;
            top: 10%;
            width: fit-content;
            height: 70%;
            z-index: 2;
            @media screen and (max-width:766px) {
                position: absolute;
                bottom: 8%;
                height: 50%;
                right: 3%;
                width: fit-content;
                top: initial;
                z-index: 2;
            }
            @media screen and (max-width:375px) {
                bottom: 10%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .rel {
            position: absolute;
            bottom: -17%;
            height: 50%;
            right: 14%;
            width: 100%;
            z-index: 2;
            @media screen and (max-width:766px) {
                bottom: 0%;
                right: 3%;
                height: auto;
                
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @keyframes argobanner {
            0%,100% {
              bottom: 8%;   
            }
            
            50% {
              bottom: 8.2%;
            }
          }

        .kebon {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: auto;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 80px;
                right: 0;
                background: linear-gradient(to top, #baf5f1, transparent);
            }
            @media screen and (max-width:766px) {
                width: 120%;
            }
            img {
                width:100%;
                height: 100%;
                object-fit: cover;

            }
        }
        .kereta {
            position: absolute;
            bottom: 8%;
            animation: argobanner 2s linear infinite;
            right: 17%;
            width: fit-content;
            height: 50%;
            z-index: 5;
            @media screen and (max-width:766px) {
                position: absolute;
                bottom: 5%;
                right: 8%;
                width: 90%;
                animation: initial;
                height: auto;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .awan {
            position: absolute;
            width: 200px;
            filter: drop-shadow(2px 3px 3px #ccc);
            bottom: 70%;
            left: -4%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            @media screen and (max-width:766px) {
                width: 100px;
                height: auto;
                bottom: 40%;
            }
        }
        .chat {
            position: absolute;
            top: 15%;
            right: 32%;
            z-index: 5;
            width: fit-content;
            height: 120px;
            @media screen and (max-width:766px) {
                position: absolute;
                top: 45%;
                right: 55%;
                width: fit-content;
                height: 76px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .marker {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: auto;
            width: fit-content;
            @media screen and (max-width:766px) {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .img {
        width: 100%;
        height: 90vh;
        @media screen and (max-width:766px) {
            height: 70vh;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}