.fasilitas {
    background: linear-gradient(to bottom, #cdcdcd, #f4f4f4);
    
    h3 {
        color: #444;
        font-family: 'Poppins';
    }
    .all {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 100%;
        // height: 360px;
        .petugas {
            position: absolute;
            width: 200px;
            height: auto;
            right: 0;
            bottom: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @keyframes tangan {
            0%, 100% {
                transform: rotate(0deg);
                bottom: 11px;
                right: 164px;
            }
            50% {
                transform: rotate(-5deg);
                bottom: 6px;
                right: 168px;
            }
          }
        .tangan {
            position: absolute;
            animation: tangan 1s linear infinite;

            width: 150px;
            height: 150px;
            bottom: 11px;
            right: 164px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            // right: ;
        }
    }
}