.fasilitas {
    // background: linear-gradient(to bottom, #cdcdcd, #f4f4f4);
    background: url('../img/kotak.png') repeat;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: auto;
        background: linear-gradient(to bottom, #cdcdcd, rgba(#cdcdcd,.3));
    }
    min-height: auto;
    @media screen and (max-width:768px) {
        padding: 32px 0 90px;
    }
    h3 {
        color: #444;
        text-align: center;
        font-family: 'Poppins';
        font-size: 2.2rem;
        position: relative;
        z-index: 13;
    }

     /* the slides */
  .slick-slide {
        margin: 0 27px;
    }

    /* the parent */
    .slick-list {
        margin: 0 -27px;
    }

    .w-kelas {
        position: relative;
        z-index: 12;
    }

    .kelas {
        background: linear-gradient(to bottom, #fff, rgba(white,.7));
        padding: 16px;
        height: 360px;
        border-radius: 24px;
        position: relative;
        .fas {
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 24px;
            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border-radius: 24px 0 0 24px;
                background: linear-gradient(to right, white, transparent);
            }
            img {
                width: 100%;
                border-radius: 24px;
                height: 100%;
                object-fit: cover;
            }
        }
        @media screen and (min-width:1600px) {
            height: 450px;
        }
        @media screen and (max-width:768px) {
            height: 520px;
        }
        h4 {
            font-size: 1.8rem;
            font-weight: bold;
            color: #f67524;
            margin-left: 13px;
            width: fit-content;
        }
        li {
            margin: 0;
            // font-size: 1.1rem;
            @media screen and (max-width:768px) {
                font-size: 1rem;
            }
            @media screen and (min-width:1800px) {
                font-size: 1.1rem;
            }
        }
        ul {
            margin: 0;
            padding: 4px 8px 4px 32px;
        }
    }
    .all {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 100%;
        // height: 360px;
        .petugas {
            position: absolute;
            width: 200px;
            height: auto;
            right: 0;
            bottom: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @keyframes tangan {
            0%, 100% {
                transform: rotate(0deg);
                bottom: 11px;
                right: 164px;
            }
            50% {
                transform: rotate(-5deg);
                bottom: 6px;
                right: 168px;
            }
          }
        .tangan {
            position: absolute;
            animation: tangan 1s linear infinite;

            width: 150px;
            height: 150px;
            bottom: 11px;
            right: 164px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            // right: ;
        }
    }
}