@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Tilt+Neon&family=Montserrat:wght@400;700&family=Prompt:wght@400;700&display=swap');

html,
body {
position: relative;
height: 100%;
font-family: 'Poppins';
overflow-x: clip;
h2, h3, h4 {
    font-family: 'Poppins' !important;
    font-weight: 700;
}
}

.foot {
    @media screen and (max-width:766px) {
        
        background: #ccc;
        height: 59px;
        width: 100%;
        position: fixed;
        z-index: 99;
        bottom: 0;
    }
}

.sticky {
    position: sticky;
    inset: 0;
    height: 100vh;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



.firstletter {
    &::first-letter {
        float: left;
        font-weight: bold;
        margin-right: 8px;
        font-size: 60px;
        font-size: 6rem;
        line-height: 40px;
        line-height: 4rem;
        height: 4rem;
        text-transform: uppercase;
    }
}

body {
margin: 0;
padding: 0;
color: #222;
// background-color: $kuning-opening;
    p {
        font-size: 1rem;
        @media screen and (min-width:1800px) {
            font-size: 1.1rem;
        }
        @media screen and (max-width:766px) {
            font-size: .95rem;
        }
    }
}


.modal-content {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid transparent;
    background: transparent;
}

.totop {
    position: relative;
    z-index: 19;
}


.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    color: white;
    font-size: 1.4rem;
    flex: 1 1 auto;
    padding: 1rem;
    text-align: center;
}

.modal-footer {
    border-top: none;
    text-align: center;
    margin: 0 auto;
}

section {
    padding: 32px 0;
    // background: $red;
    min-height: 100vh;
    z-index: 11;
    background: #eee;
    position: relative;
}

.top {
    align-items: baseline !important;
}
.swiper-slide img {
 
}

.wrap-detikx {
    width: 700px;
    margin: 0 auto;
    @media screen and (max-width:766px) {
        width: 90%;
        margin: 0 auto;
        display: block;
    }
    // font-size: 1.2rem;
    // line-height: 1.6rem;
   
}

.line-right {
    display: inline-block;
    width: 100px;
    height: 1px;
    margin-top: 12px;
    vertical-align: top;
    margin-right: 4px;
    background: #222;
    @media screen and (max-width:766px) {
        width: 45px;
    }
    &-p {
        display: inline-block;
        width: 80%;
        margin-left: 8px;
        @media screen and (max-width:766px) {
            margin-left: 0;
        }
    }
}

#nav.no_index, #share {
    z-index: 21;
}

.footer {
    z-index: 22;
}

.share_icon>a i {
    font-size: 25px !important;
    line-height: initial !important;
    @media screen and (max-width: 766px) {
        font-size: 16px !important;
        line-height: initial !important;
        width: 30px !important;
        height: 30px !important;
    }
}

#nav {
    // background: rgb(105 84 29 / 80%) !important;
    backdrop-filter: blur(11px);
    @media screen and (max-width: 766px) {
        backdrop-filter: initial;
        // background: rgba(#000, .8) !important;
    }
}

.share_icon>a {
    padding: 0 !important;
}

.baca-detikx {
    .bacajuga_box {
        display: initial !important;
        .container {
            display: none;
        }
    }
    .bacajuga {
        width: 100% !important;
        display: block;
        a {
            display: inline-block;
            padding: 0px;
            width: 47% !important;
            margin: 0 8px;
            border-radius: 24px;
            filter: drop-shadow(2px 4px 6px black);
            position: relative;
            height: 320px;
            text-align: left;
            &::after {
                border-radius: 24px;
            }
            @media screen and (max-width:766px) {
                width: 100% !important;
                margin: 4px 0;
            }
            &:hover {
                text-decoration: none;
                color: orange !important;
            }
            article {
                position: absolute;
                top: initial;
                /* transform: translateY(-50%); */
                width: 100%;
                background: linear-gradient(to top, black, transparent);
                padding: 8px 16px;
                border-radius: 24px;
                bottom: 0;
                transform: initial;
                h2 {
                    font-family: 'Prompt' !important;
                    font-size: 1.2rem;
                }
            }
        }
    }   
}


.lines {
    width: 200px;
    height: 2px;
    background: #4e4e4e;
    margin: 8px 0 16px;
    @media screen and (max-width:766px) {
        background: #4e4e4e;
        width: 120px;
    }
}


.slick {
    &-next, &-prev {
        z-index: 17 !important;
        &::before {
            font-family: 'fontAwesome' !important;
            font-size: 42px !important;
            color: #172d54 !important;
            font-weight: 700 !important;
            @media screen and (max-width:766px) {
                font-size: 42px !important;
            }
        }
    }
    &-prev {
        left: -12px !important;
        &::before {
            content:"\f104" !important;
        }
    }
    &-next {
        right: -12px !important;
        &::before {
            content:"\f105" !important;
        }
    }
}


.credit {
    background: #bbf0f5;
    min-height: auto;
    border-top: 1px dotted;
    .wrap-detikx {
    }
    .alls {
        margin-bottom: 8px;
        display: block;
        text-align: center;
        width: 100%;
        // border: 1px solid;
        margin: 0 auto 4px;
        @media screen and (max-width:768px) {
            width: 100%;
            margin: 0 auto 8px;
        }
        .nam {
            display: inline-block;
            width: 45%;
            text-align: left;
            margin-left: 16px;
            font-weight: 700;
            font-size: 1rem;
            @media screen and (max-width:768px) {
                display: block;
                margin-left: 0;
                width: 100%;
                text-align: center;
            }
        }
        .jud {
            display: inline-block;
            width: 45%;
            text-align: right;
            @media screen and (max-width:768px) {
                display: block;
                text-align: center;
                width: 100%;
            }
        }
    }
}