.isu {
    background: #dd6452;
    padding: 52px 0 72px;
    .awanz {
        position: absolute;
        bottom: -16px;
        left: 0;
        right:0;
        width: 100%;
        height: 100px;
        @media screen and (max-width:768px) {
            bottom: -40px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    p {
        color: #eee;
    }
    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 16px;
    //     left: 50%;
    //     transform: translate(0, -50%);
    //     width: 0;
    //     height: 0;
    //     border-left: 20px solid transparent;
    //     border-right: 20px solid transparent;
    //     border-top: 35px solid #eee;

    // }
    h3 {
        font-family: 'Poppins';
        color: white;
        font-size: 3.2rem;
        @media screen and (max-width:766px) {
            font-size: 2rem;
            
        }
    }
    .gambar {
        position: relative;
        // height: 50vh;
        height: 520px;
        // height: fit-content;
        display: block;
        width: 100%;
        @media screen and (max-width:766px) {
            height: auto;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .argo {
            // position: absolute;
            // right: 15%;
            // width: 140px;
            // height: auto;
            // bottom: 48%;
            // transform: translate(0, -50%);
            // @media screen and (max-width:766px) {
            //     right: 10%;
            //     width: 120px;
            // }
            // img {
            //     width: 100%;
            //     height: 100%;
            //     object-fit: contain;
            // }
            .namas {
                text-align: center;
                position: absolute;
                right: 15%;
                bottom: 48%;
                color: #13569e;
                // display: none;
                background: white;
                transform: translate(0%,-50%);
                width: fit-content;
                padding: 8px;
                z-index: 2;
                border-right: 4px solid ;
                @media screen and (max-width:766px) {
                    // bottom: 17%;
                    // padding: 4px;
                    right: 10%;
                }
                .yes {
                    font-size: .8rem;
                    border-bottom: 1px solid;
                    font-style: italic;
                    font-weight: 700;
                    @media screen and (max-width:766px) {
                        font-size: .6rem;
                    }
                }
                .bd {
                    font-size: .6rem;
                    @media screen and (max-width:766px) {
                        font-size: .5rem;
                    }
                }
            }
        }

        .woosh {
            position: absolute;
            left: 12%;
            width: 140px;
            height: auto;
            bottom: 50%;
            transform: translate(0, -50%);
            @media screen and (max-width:766px) {
                left: -3%;
                width: 120px;
            
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
       
    }
}