.kapasitas {
    padding: 102px 0 32px;
    @media screen and (max-width:766px) {
        padding: 52px 0 32px;
    }

    .fast {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: radial-gradient(circle, rgba(#eee,.3), rgba(#eee,1));
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .kertas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        filter: drop-shadow(4px 3px 0px #525252);
        width: 100%;
        height: auto;
        @media screen and (max-width:766px) {
            top: -6px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &::before {
        // content: "";
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // width: 100%;
        // height: 80px;
        // background: #67768a;
    }
    .judul {
        width: fit-content;
        // margin: 0 auto;
        margin-bottom: 16px;
        h3 {
            font-family: 'Poppins';
            color: #474d4f;
        }
    }
    .argo-putih {
        position: absolute;
        bottom: 0;
        right: -15%;
        width: 50vw;
        height: auto;
        @media screen and (max-width:766px) {
            bottom: 7%;
            width: 80vw;
            // height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}