.kapasitas {
    padding: 102px 0 32px;
    background-image: url('../img/kotak.png');
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, #eee 30%, rgba(#eee,.95), #eee);
    }
    @media screen and (max-width:766px) {
        padding: 52px 0 32px;
    }

    .fast {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: radial-gradient(circle, rgba(#eee,.3), rgba(#eee,1));
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .kertas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        filter: drop-shadow(4px 3px 0px #525252);
        width: 100%;
        height: auto;
        @media screen and (max-width:766px) {
            top: -6px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &::before {
        // content: "";
        // position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // width: 100%;
        // height: 80px;
        // background: #67768a;
    }
    .judul {
        width: fit-content;
        // margin: 0 auto;
        margin-bottom: 16px;
        h3 {
            font-family: 'Poppins';
            color: #474d4f;
        }
    }

    @keyframes argox {
        0%,100% {
          bottom: 0%;   
        }
        
        50% {
          bottom: 1.5%;
        }
      }

      @keyframes argoxm {
        0%,100% {
          bottom: 10%;   
        }
        
        50% {
          bottom: 10.5%;
        }
      }
    .argo-putih {
        position: absolute;
        bottom: 3%;
        // animation: argox 1s linear infinite;
        right: -15%;
        width: 50vw;
        height: auto;
        @media screen and (max-width:766px) {
            bottom: 7%;
            width: 80vw;
            // animation: argoxm 1.5s linear infinite;
            // height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .data {
        &-no {
            .bgs {
                background: linear-gradient(to top, #dadada, rgba(white,.7));
                position: absolute;
                border-radius: 16px;
                // border: 1px dashed;
                box-shadow: 5px 5px 2px #dadada;
                padding: 8px;
                @media screen and (max-width:766px) {
                    right: initial !important;
                }
            }
            .penumpang {
              
                bottom: 55%;
                right: 5%;
                @media screen and (max-width:766px) {
                    bottom: 28%;
                    left: 55%;
                    
                }
            }
            .eks {
                
                bottom: 54%;
                right: 20%;
                @media screen and (max-width:766px) {
                    bottom: 30%;
                    left: 20%; 
                }
            }
            .eko {
               
                bottom: 30%;
                right: 36%;
                @media screen and (max-width:766px) {
                    bottom: 17%;
                    left: 5%;
                }
            }
            display: block;
            h4 {
                // display: inline-block;
                font-size: 2rem;
                margin-bottom: 0;
                text-align: center;
            }
            span {
                // display: inline-block;
                font-size: .8rem;
                @media screen and (max-width:766px) {
                    font-size: .7rem;
                }
            }
        }
    }
}