.opening {
    background: $blue;

    .pj {
        @media screen and (max-width:766px) {
            margin-bottom: 40vh !important;
        }
    }

    @keyframes pesawat {
        0% {
          top: 17%;
          left: 17%;
          opacity: 0;
        }
        25% {
            top: 17%;
            left: 17%;
            opacity: 0;
        }
        30% {
            top: 17%;
            left: 17%;
            opacity: 1;
        }
        50% {
            top: 13%;
            left: 13%;
            opacity: 1;
        }
        75% {
            top: 10%;
            left: 10%;
            opacity: 1;
        }
        85% {
            top: 10%;
            left: 10%;
            opacity: .2;
        }
        100% {
          top: 10%;
          left: 10%;
          opacity: 0;
        }
      }

      @keyframes pesawatmob {
        0% {
          top: 70%;
          left: 20%;
          opacity: 0;
        }
        25% {
            top: 70%;
            left: 20%;
            opacity: 0;
        }
        30% {
            top: 70%;
            left: 20%;
            opacity: 1;
        }
        50% {
            top: 65%;
            left: 10%;
            opacity: 1;
        }
        75% {
            top: 62%;
            left: 5%;
            opacity: 1;
        }
        85% {
            top: 60%;
            left: 2%;
            opacity: .2;
        }
        100% {
          top: 60%;
          left: 2%;
          opacity: 0;
        }
      }
    .pesawat {
        position: absolute;
        top: 19%;
        opacity: 0;
        animation: pesawat 4s linear infinite;
        left: 10%;
        width: auto;
        height: auto;
        @media screen and (max-width:766px) {
            top: 70%;
            animation: pesawatmob 4s linear infinite;
            left: 20%;
            width: 30px;
            height: 30px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .hello {
        margin-bottom: 30vh;
        // background: rgba($color: white, $alpha: .8);
        background: linear-gradient(to bottom, rgba(white,.6), white);
        padding: 16px;
        border-radius: 24px;
    }
    .wrap-detikx {
        margin-top: -50vh;
        @media screen and (max-width:766px) {
            margin-top: -80vh;
        }
    }

    @keyframes kereta {
        0%,100% {
          right: -30%;
          
        }
        
        50% {
          right: -20%;
          
        }
      }
    .namas {
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 30%;
        color: #13569e;
        background: white;
        transform: translate(-50%,-50%);
        width: fit-content;
        padding: 8px;
        z-index: 2;
        border-right: 4px solid #e57a2f;
        @media screen and (max-width:766px) {
            bottom: 16%;
        }
        .yes {
            font-size: 1.2rem;
            @media screen and (max-width:766px) {
                font-size: .8rem;
            }
        }
        .bd {
            font-size: .8rem;
            @media screen and (max-width:766px) {
                font-size: .5rem;
            }
        }
    }
    .kereta {
        position: absolute;
        bottom: 18%;
        right: -30%;
        width: 95%;
        animation: kereta 6s linear infinite;
        height: auto;
        @media screen and (max-width:766px) {
            bottom: 15%;
            z-index: 3;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .img {
        width: 100%;
        height: 100vh;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 40px;
            // background: linear-gradient(to top, $blue, transparent);
            @media screen and (max-width:766px) {
                
                height: 80px;
            }
        }
        @media screen and (max-width:766px) {
            height: 40%;
            position: absolute;
            bottom: 8%;
            left: 0;
            right: 0;
        
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}