.opening {
    background: $blue;

    @keyframes pesawat {
        0% {
          top: 17%;
          left: 17%;
          opacity: 0;
        }
        25% {
            top: 17%;
            left: 17%;
            opacity: 0;
        }
        30% {
            top: 17%;
            left: 17%;
            opacity: 1;
        }
        50% {
            top: 13%;
            left: 13%;
            opacity: 1;
        }
        75% {
            top: 10%;
            left: 10%;
            opacity: 1;
        }
        85% {
            top: 10%;
            left: 10%;
            opacity: .2;
        }
        100% {
          top: 10%;
          left: 10%;
          opacity: 0;
        }
      }

      @keyframes pesawatmob {
        0% {
          top: 80%;
          left: 20%;
          opacity: 0;
        }
        25% {
            top: 80%;
            left: 20%;
            opacity: 0;
        }
        30% {
            top: 80%;
            left: 20%;
            opacity: 1;
        }
        50% {
            top: 75%;
            left: 10%;
            opacity: 1;
        }
        75% {
            top: 72%;
            left: 5%;
            opacity: 1;
        }
        85% {
            top: 70%;
            left: 2%;
            opacity: .2;
        }
        100% {
          top: 70%;
          left: 2%;
          opacity: 0;
        }
      }
    .pesawat {
        position: absolute;
        top: 19%;
        opacity: 0;
        animation: pesawat 4s linear infinite;
        left: 10%;
        width: auto;
        height: auto;
        @media screen and (max-width:766px) {
            top: 80%;
            animation: pesawatmob 4s linear infinite;
            left: 20%;
            width: 30px;
            height: 30px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .hello {
        margin-bottom: 30vh;
        // background: rgba($color: white, $alpha: .8);
        background: linear-gradient(to bottom, rgba(white,.6), white);
        padding: 16px;
        border-radius: 24px;
    }
    .wrap-detikx {
        margin-top: -50vh;
    }

    @keyframes kereta {
        0%,100% {
          right: -30%;
          
        }
        
        50% {
          right: -20%;
          
        }
      }
    .kereta {
        position: absolute;
        bottom: 18%;
        right: -30%;
        width: 95%;
        animation: kereta 6s linear infinite;
        height: auto;
        @media screen and (max-width:766px) {
            bottom: 7%;
            z-index: 3;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .img {
        width: 100%;
        height: 100vh;
        @media screen and (max-width:766px) {
            height: 40%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}