.perbandingan {
    // background: #bbf0f5;
    background: url('../img/kotak.png') repeat;
    
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: auto;
        background: linear-gradient(to top, #bbf0f5, rgba(#bbf0f5,.6), #bbf0f5);
    }
    @media screen and (max-width:768px) {
        padding: 72px 0 32px;
    }
    .lala {
        position: relative;
        z-index: 13;
    }

    .jam {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 0;
        z-index: 11;
        top: -70px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .hello {
        background: rgba($color: white, $alpha: .9);
        padding: 16px;
        border-radius: 16px;
        margin-bottom: 20vh;
        @media screen and (max-width:768px) {
            margin-bottom: 12vh;
        }
        p {
            @media screen and (min-width:1800px) {
                font-size: 1.1rem;
            }
        }
    }

    .alls {
        position: relative;
        width: 100%;
        .d-block {
            border-bottom: 1px dashed #15545a;
            margin-bottom: 16px;
        }

        .d-inline-block {
            display: inline-block;
            width: 45%;
        }

        li {
            list-style-type: none;
            margin-bottom: 16px;
            i {
                font-size: 2.5rem;
                height: 50px;
                width: 50px;
                display: inline-block;
                vertical-align: middle;
            }

        }
        span {
            vertical-align: middle;
            display: inline-block;
            width: 60%;
        }
        // height: 100vh
    }
    .gambar {
        width: 100%;
        position: absolute;
        height: 80vh;
        inset: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .kereta {
    //     position: absolute;
    //     top: 30%;
    //     left: 0;
    //     width: 70%;
    //     height: 80px;
    //     img {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: contain;
    //     }
    // }
    .go {
        .img {
            // transform: rotate(180deg);
            height: 80px !important;
        }
    }
    .mobil {
        .img {
            width: fit-content !important;
            height: 40px !important;
            // @media screen and (ma) {
                
                // }
                @media screen and (max-width:768px) {
                    height: 24px !important;
                }
        }
        .helping-data {
            width: 30% !important;
            @media screen and (max-width:768px) {
                width: 35% !important;
            }
        }
    }
    .kereta,.mobil {
        .img {
            width: 30%;
            margin-left: -6%;
            height: 80px;
            display: inline-block;
            position: relative;
            // &::before {
            //     content: "";
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     bottom: 0;
            //     width: 30px;
            //     height: 80px;
            //     background: linear-gradient(to right, #bbf0f5, transparent);
            // }
            @media screen and (max-width:768px) {
                width: 43%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .helping-data {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            height: 50px;
            @media screen and (max-width:768px) {
                height: 40px;
                width: 60%;
            }
            // padding: 30px;
            // text-align: center;
            background: linear-gradient(to right, #92c4c9, transparent);
            border-radius: 0 8px 8px 0;
            position: relative;
            .angka {
                position: absolute;
                left: 50%;
                font-weight: 700;
                font-style: italic;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 80%;
                text-align: center;
                @media screen and (max-width:768px) {
                    font-size: .8rem;
                }
            }
        }
    }

    .mobil-merah {
        position: absolute;
        left: 25%;
        width: fit-content;
        height: 40px;
        bottom: 20%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .w-50a {
        width: 35% !important;
        @media screen and (max-width:768px) {
            width: 45% !important;
        }

    }

    .bandung {
        position: absolute;
        right: -5vw;
        bottom: 0px;
        width: 40vw;
        height: auto;
        @media screen and (max-width:766px) {
            width: 80vw;
            right: -15vw;
            // bottom: 10px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .batagor {
        position: absolute;
        right: 30vw;
        bottom: 72px;
        width: 90px;
        display: none;
        height: auto;
        @media screen and (max-width:766px) {
            // width: 80vw;
            right: 70vw;
            width: 50px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    @keyframes banner {
        0% {
            transform: rotateY(180deg);
            right: calc(-270px - 50%);
        }
        50% {
            transform: rotateY(180deg);
            right: 100%;
        }
        51% {
            transform: rotateY(0deg);
            right: calc(100% + 270px);
        }
        100% {
            transform: rotateY(0deg);
            right: calc(-270px - 50%);
        }
    }

    .kereta-tut {
        position: absolute;
        animation: linear infinite;
        animation-name: banner;
        animation-duration: 15s;
        bottom: 0;
        display: none;
        right: 0;
        width: 40vw;
        height: auto;
        @media screen and (max-width:768px) {
            width: 80vw;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .keterangan {
        display: inline-block;
        width: 18%;
        @media screen and (max-width:768px) {
            width: 5%;
        }
        .no {
            height: 165px;
        }
        .harga {
            text-align: center;
            background: linear-gradient(45deg, white, rgba(white,.7));
            padding: 2px 10px;
            
            position: relative;
            margin-bottom: 43px;
            // height: 82px;
            border-radius: 16px;
            @media screen and (max-width:768px) {
                padding: 2px;
                // width: fit-content;
            }
        }
        .wkt {
            text-align: center;
            background: linear-gradient(45deg, white, rgba(white,.7));
            padding: 2px 10px;
            
            position: relative;
            margin-bottom: 80px;
            // height: 82px;
            border-radius: 16px;
            @media screen and (max-width:768px) {
                padding: 2px;
            }
        }
        .pen {
            text-align: center;
            background: linear-gradient(45deg, white, rgba(white,.7));
            padding: 2px 10px;
            
            position: relative;
            margin-bottom: 43px;
            // height: 82px;
            border-radius: 16px;
            @media screen and (max-width:768px) {
                padding: 2px;
            }
            
        }
        .utg {
            text-align: center;
            background: linear-gradient(45deg, white, rgba(white,.7));
            padding: 2px 10px;
            
            position: relative;
            margin-bottom: 80px;
            // height: 82px;
            border-radius: 16px;
            @media screen and (max-width:768px) {
                padding: 2px;
            }
        }
        .kendala {
            text-align: center;
            background: linear-gradient(45deg, white, rgba(white,.7));
            padding: 2px 10px;
            
            position: relative;
            margin-bottom: 86px;
            // height: 82px;
            border-radius: 16px;
            @media screen and (max-width:768px) {
                padding: 2px;
            }
        }
    }
    .datax {
        display: inline-block;
        width: 40%;
        position: relative;
        vertical-align: top;
        @media screen and (max-width:768px) {
            width: 45%;
        }
        ul {
            margin: 0;
            // border: 1px solid;
            background: linear-gradient(45deg, #87e8ef, rgba(white,.8));
            border-radius: 16px;
            box-shadow: 2px 3px 4px #fff;
            padding: 8px 16px;
            list-style: none;
            li {
                margin-bottom: 8px;
                padding: 8px 0;
                height: 82px;
                border-bottom: 1px solid #333;
                @media screen and (max-width:768px) {
                    // height: 120px;
                    font-size: .85rem;
                    height: fit-content;
                    min-height: 80px;
                }
                &:last-child {
                    border-bottom: 1px solid transparent;
                }

            }
        }
        
        &__img {
            width: 100%;
            height: 86px;
            position: relative;
            &.wo {
                &::before {
                    content: "";
                    position: absolute;
                    /* left: 16px; */
                    top: 0;
                    bottom: 0;
                    left: 0px;
                    width: 60%;
                    height: 74px;
                    /* border: 1px solid; */
                    border-right: 2 solid;
                    border-left: 1px solid transparent;
                    background: #fff;
                    z-index: -1;
                    @media screen and (max-width:768px) {
                        height: 60px;
                    }
                    // border-radius: 16px 16px 0 0;

                }
            }
            &.go {
                &::before {
                    content: "";
                    position: absolute;
                    /* left: 16px; */
                    top: 0;
                    bottom: 0;
                    right: 0px;
                    width: 60%;
                    height: 74px;
                    /* border: 1px solid; */
                    border-right: 2 solid;
                    border-left: 1px solid transparent;
                    background: white;
                    z-index: -1;
                    @media screen and (max-width:768px) {
                        height: 60px;
                    }
                    // border-radius: 16px 16px 0 0;

                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__name {
            padding: 8px 16px;
        }
    }
    
}

.w-5x {
    .img {

        width: 50% !important;
    }
}

.ke {
    position: relative;
    z-index: 8;
    ol {
        li {
            color: black;
        }
    }
}