.perbandingan {
    background: #bbf0f5;
    @media screen and (max-width:768px) {
        padding: 72px 0 32px;
    }
    .lala {
        position: relative;
        z-index: 13;
    }

    .jam {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 0;
        z-index: 11;
        top: -70px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .hello {
        background: rgba($color: white, $alpha: .9);
        padding: 16px;
        border-radius: 16px;
        // margin-bottom: 20vh;
    }

    .alls {
        position: relative;
        width: 100%;
        // height: 100vh
    }
    .gambar {
        width: 100%;
        position: absolute;
        height: 80vh;
        inset: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .kereta {
    //     position: absolute;
    //     top: 30%;
    //     left: 0;
    //     width: 70%;
    //     height: 80px;
    //     img {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: contain;
    //     }
    // }
    .go {
        .img {
            // transform: rotate(180deg);
            height: 80px !important;
        }
    }
    .mobil {
        .img {
            width: fit-content !important;
            height: 40px !important;
            // @media screen and (ma) {
                
                // }
                @media screen and (max-width:768px) {
                    height: 30px !important;
                }
        }
        .helping-data {
            width: 30% !important;
        }
    }
    .kereta,.mobil {
        .img {
            width: 30%;
            margin-left: -10%;
            height: 80px;
            display: inline-block;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 30px;
                height: 80px;
                background: linear-gradient(to right, #bbf0f5, transparent);
            }
            @media screen and (max-width:768px) {
                width: 45%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .helping-data {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            height: 50px;
            @media screen and (max-width:768px) {
                height: 40px;
                width: 55%;
            }
            // padding: 30px;
            // text-align: center;
            background: linear-gradient(to right, #92c4c9, transparent);
            border-radius: 0 8px 8px 0;
            position: relative;
            .angka {
                position: absolute;
                left: 50%;
                font-weight: 700;
                font-style: italic;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 80%;
                text-align: center;
            }
        }
    }

    .mobil-merah {
        position: absolute;
        left: 25%;
        width: fit-content;
        height: 40px;
        bottom: 20%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .w-50a {
        width: 35% !important;

    }
    
}