@import 'ticket';
.stasiun {
    padding: 0;
    background: linear-gradient(to top, #67768a 20%, #baf5f1 80%);
    &::before {
        content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 100px;
    background: linear-gradient(to bottom, #baf5f1, transparent);

    }
    .wrap-detikx {
        margin-top: -20vh;
        padding-bottom: 30vh;
        @media screen and (max-width:766px) {
            margin-top: -100vh;
        }
    }
    .tick {
        background: white !important;
    }
    .hello {
        margin-bottom: 30vh;
        // background: rgba($color: white, $alpha: .8);
        background: linear-gradient(to bottom, rgba(white,.6), white);
        padding: 16px;
        border-radius: 24px;
    }
    .no {
        margin-bottom: 0;
        // padding-bottom: 40vh;
    }
    .img {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 80px;
            background: linear-gradient(to top, #67768a, transparent);
        }
        @media screen and (max-width:766px) {
            height: 50%;
            bottom: 7%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.stasiun-lala {
    padding: 0;
    .img {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hello {
        margin-bottom: 30vh;
        // background: rgba($color: white, $alpha: .8);
        background: linear-gradient(to bottom, rgba(white,.6), white);
        padding: 16px;
        border-radius: 24px;
    }

    .data-lala {
        position: absolute;
        right: 15%;
        width: 100%;
        height: 300px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}